.hero {
  padding: 70px 90px 100px;
  text-align: center;
  background-color: #0f0f0f;
  color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.2;
  margin: 20px 0;
}

.gradient-name {
  background: linear-gradient(90deg, #ff8a00, #e94057, #da22ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
}

p {
  font-size: 20px;
  color: #bbbbbb;
  max-width: 600px;
  margin: 20px auto 40px;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-connect {
  padding: 16px 42px;
  background: linear-gradient(267deg, #ff8a00, #da22ff, #8a2be2);
  color: white;
  border: none;

  border-radius: 30px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0 10px 35px rgba(218, 34, 255, 0.5);
  transition: all 0.4s;
}

.btn-connect:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 50px rgba(218, 34, 255, 0.7);
}

.btn-resume {
  padding: 16px 42px;
  background: transparent;
  color: white;
  border: 2px solid #444;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
}

.btn-resume:hover {
  border-color: #da22ff;
  background: rgba(218, 34, 255, 0.1);
}
.hero-subtitle {
  font-weight: 300;
  font-size: 40px;
  color: white;
  display: block;
  margin-top: 10px;
}

.hero-resume-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 36px;
  background: rgba(30, 30, 30, 0.8);
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  text-decoration: none;
  border: 2px solid transparent;
  background-clip: padding-box;
  /* backdrop-filter: blur(10px); */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease;
  cursor: pointer;
  white-space: nowrap;
}

.hero-resume-btn:hover {
  background: linear-gradient(90deg, #ff8a00, #da22ff);
  border: 2px solid transparent;
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(218, 34, 255, 0.4);
}

/* Mobile responsive */
@media (max-width: 768px) {
  .hero-resume-btn {
    padding: 14px 28px;
    font-size: 16px;
  }
}
